{% extends "bases.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/style.css')}}">
{% endblock %}

{% block header %}
	<header>
		<h1>Titre :
			{{ article.titre }}</h1>
	</header>

{% endblock %}

{% block main %}
	<main>
		<p>{{article.contenu}}</p>
		<span>{{ batman }}</span>
	</main>

{% endblock %}

{% block footer %}
	<footer>
		<h3>Vous venez de lire l'article n°{{ article.id }}</h3>
	</footer>

{% endblock %}
