<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>

		{{ form_start(articleForm)}}

		{{ form_widget(articleForm.title) }}
		{{ form_widget(articleForm.content) }}
		{{ form_widget(articleForm.date) }}
		{{ form_widget(articleForm.category) }}
		{{ form_widget(articleForm.tag) }}
		{{ form_widget(articleForm.submit) }}
		{{ form_end(articleForm) }}

	</body>
</html>
